@inherits RocketDirectoryAPI.Components.RocketDirectoryAPITokens<Simplisity.SimplisityRazor>
@using DNNrocketAPI.Components;
@using RocketDirectoryAPI.Components;
@AssigDataModel(Model)
@AddProcessDataResx(appTheme, true)
<!--inject-->
@AddProcessData("resourcepath", "/DesktopModules/DNNrocketModules/RocketEventsAPI/App_LocalResources/")

@{
    var info = catalogSettings.Info;
}
<div class="w3-row w3-padding">
    @CheckBox(info, "genxml/checkbox/reverseorderby", "&nbsp;" + ResourceKey("RocketEventsApi.reverseorderby").ToString(), " class='w3-check'", false)
</div>
<div class="w3-row w3-padding">
    <label>@ResourceKey("RocketEventsApi.numberofhistorydays")</label>
    @TextBox(info, "genxml/textbox/numberofhistorydays", " class='w3-input w3-border'", "14", false, 0, "", "number")
</div>
<div class="w3-row w3-padding">
    <label>@ResourceKey("RocketEventsApi.numberofdays")</label>
    @TextBox(info, "genxml/textbox/numberofdays", " class='w3-input w3-border'", "14",false,0,"","number")
</div>
<div class="w3-row w3-padding">
    <label>@ResourceKey("RocketEventsApi.numberofhistorymonths")</label>
    @TextBox(info, "genxml/textbox/numberofhistorymonths", " class='w3-input w3-border'", "3", false, 0, "", "number")
</div>
<div class="w3-row w3-padding">
    <label>@ResourceKey("RocketEventsApi.numberofmonths")</label>
    @TextBox(info, "genxml/textbox/numberofmonths", " class='w3-input w3-border'", "12", false, 0, "", "number")
</div>
